[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.2"
python-dotenv = "==0.19.2"
flask-restful = "==0.3.9"
psycopg2 = "==2.9.2"
flask-sqlalchemy = "==2.5.1"
flask-cors = "==3.0.10"
flask-jwt-extended = "==4.3.1"
mongoengine = "==0.23.1"
flask-mongoengine = "==1.0.0"

[dev-packages]
pytest = "==6.2.5"

[requires]
python_version = "3.9"
