[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.2"
python-dotenv = "==0.19.2"
flask-restful = "==0.3.9"
flask-cors = "==3.0.10"
flask-jwt-extended = "==4.3.1"
python-jose = "==3.3.0"
six = "==1.16.0"
flask-mongoengine = "==1.0.0"

[dev-packages]
pytest = "==6.2.5"

[requires]
python_version = "3.9"
